* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.canvas-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;

    .canvas {
        display: grid;
        height: 80vh;
        width: 21*80vh/11;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(11, 1fr);
        justify-items: center;
        align-items: center;


        @media screen and (max-width: calc(21*80vh/11 + 20vw)) {
            height: 11*80vw/21;
            width: 80vw;
        }

        .tile {
            background-color: #737373;
            height: 10%;
            width: 90%;
        }
    }
}