* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    background-color: #1E1E1E;
}

button {
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &.next {
        order: 3;
    }
}

.canvas-container {
    height: 100vh;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .canvas {
        display: grid;
        height: 80vh;
        width: 21*80vh/11;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(11, 1fr);
        justify-items: center;
        align-items: center;


        @media screen and (max-width: calc(21*80vh/11 + 20vw)) {
            height: 11*80vw/21;
            width: 80vw;
        }

        @media screen and (orientation: portrait) {
            min-height: 80vw;
            min-width: 21*80vw/11;
            rotate: 90deg;
        }

        @media screen 
        and (orientation: portrait)
        and (max-height: calc(80vw*21/11 + 20vw)) {
            min-height: 11*80vh/21;
            min-width: 80vh;
        }

        .tile {
            position: relative;

            &.art1 {
                height: 12%;
                width: 90%;
    
                @media screen and (orientation: portrait) {
                    rotate: -90deg;
                }
            }

            &.art2 {
                height: 90%;
                width: 90%;
                scale: 0.2;
                border-radius: 50%;
            }

            &.art3 {
                height: 80%;
                width: 80%;
            }
        }
    }
}