$tileMaxDim: 90;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

.canvas-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .canvas {
        display: grid;
        height: $tileMaxDim*1vh;
        width: 21*$tileMaxDim*1vh/11;
        grid-template-columns: repeat(21, 1fr);
        grid-template-rows: repeat(11, 1fr);
        justify-items: center;
        align-items: center;


        @media screen and (max-width: calc(21*$tileMaxDim*1vh/11 + 100vh - $tileMaxDim*1vh)) {
            height: 11*$tileMaxDim*1vw/21;
            width: $tileMaxDim*1vw;
        }

        @media screen and (orientation: portrait) {
            min-height: $tileMaxDim*1vw;
            min-width: 21*$tileMaxDim*1vw/11;
            rotate: 90deg;
        }

        @media screen 
        and (orientation: portrait)
        and (max-height: calc($tileMaxDim*1vw*21/11 + 100vh - $tileMaxDim*1vh)) {
            min-height: 11*$tileMaxDim*1vh/21;
            min-width: $tileMaxDim*1vh;
        }

        .tile {
            position: relative;
            transition-duration: 0.5s;
            transition-timing-function: ease;
            transition-property: none;

            @media screen and (orientation: portrait) {
                rotate: -90deg;
            }

            &.art1 {
                height: 12%;
                width: 90%;
                transform: rotate(0);
            }

            &.art2 {
                height: 18%;
                width: 18%;
                transform: rotate(0);
                border-radius: 50%;
            }

            &.art3 {
                height: 80%;
                width: 80%;
                transform: rotate(0);
                border-radius: 5%;
            }
        }
    }
}